
@model PaginatedList<Mono.Service.Models.VehicleMake>

@{
    ViewData["Title"] = "Vehicle Makes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<div class="head">
    <h1>Vehicle make </h1>
</div>

<div class="controls">
    <a asp-action="Create" class="btn btn-success btn-block">Create</a>
 
</div>

<section class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" >Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" >Abrv</a>
                    </th>
                    <form asp-action="Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                <input type="submit" value="Search" class="btn btn-primary"/> |
                                <a class="btn btn-primary" href="@Url.Action("Index","VehicleMake")"> Reset </a>
                                
                            </p>
                        </div>
                    </form>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Abrv)
                        </td>
                        <td>
                            <a asp-controller="VehicleMake" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                            <a asp-controller="VehicleMake" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>
</section>

